

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Main color: #79c25c secondary color: #dcef73; */

body {
    background: #fff;
    padding-top: 70px;
}

body > .container {
    margin-top: 20px;
}


/* =============================================================
   navbar custom styles
   ============================================================= */


.navbar-default {
    background-color: #428bca;
    border-color: #71b0e4;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
    
}

/* =============================================================
   others custom styles
   ============================================================= */

.table thead>tr>th {
    border-bottom: 1px solid #428bca;
}

.badge-danger {
    background: #d9534f;
}

.badge-warning {
    background: #f0ad4e;
}

.badge-success {
    background: #5cb85c;
}














