

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Main color: #79c25c secondary color: #dcef73; */

body {
    background: #fff;
    padding-top: 70px;
}

body > .container {
    margin-top: 20px;
}


/* =============================================================
   navbar custom styles
   ============================================================= */


.navbar-default {
    background-color: #428bca;
    border-color: #71b0e4;
}

/* changing navbar height --> */

.navbar {
  min-height: 60px;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 5px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #155183;
  margin-top: 5px;
  border-top: 6px solid white;
  padding-top: 9px;
}

/* <-- changing navbar height */

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-brand {
  font-size: 30px;
  line-height: 30px;
  padding: 15px 15px;
}

/* Change the docs' brand */
.navbar-default .navbar-brand {
  font-weight: bold;
  color: #155183;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar-default .navbar-brand:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}



/* =============================================================
   others custom styles
   ============================================================= */

.table thead>tr>th {
    border-bottom: 1px solid #428bca;
}

.badge-danger {
    background: #d9534f;
}

.badge-warning {
    background: #f0ad4e;
}

.badge-success {
    background: #5cb85c;
}














