{% extends "app/base.html" %}

{% block title %}Ag.Iba - Novo imposto{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6">

            <div class="panel panel-default form-panel">
                <div class="panel-heading"><h3 class="text-center">Novo Imposto</h3 class="text-center"></div>
                <div class="panel-body">
                    <form role="form" class="agiba-form" action="{% url 'add_tax' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="clientName"><i class="fa fa-user"></i> Cliente</label>
                            <select name="client" multiple class="form-control client-select">
                                {% for client in list_clients %}
                                <option value="{{client.1}}">{{client.0}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group {% if form.brand.errors %}has-error{% endif %}">
                            <i class="fa fa-truck"></i>
                            <input name="brand" type="text" class="form-control" placeholder="Marca" value="{{form.brand.value}}" required>
                            <span class="help-block">{{form.errors.brand}}</span>
                        </div>
                        <div class="form-group {% if form.model.errors %}has-error{% endif %}">
                            <i class="fa fa-truck"></i>
                            <input name="model" type="text" class="form-control" placeholder="Modelo" value="{{form.model.value}}" required>
                            <span class="help-block">{{form.errors.model}}</span>
                        </div>
                        <div class="form-group {% if form.plate.errors %}has-error{% endif %}">
                            <i class="fa fa-barcode"></i>
                            <input name="plate" pattern="^(\d{2}-\d{2}-[a-zA-Z]{2})|(\d{2}-[a-zA-Z]{2}-\d{2})|([a-zA-Z]{2}-\d{2}-\d{2})$" type="text" class="form-control" placeholder="Matrícula" value="{{form.plate.value}}" required>
                            <span class="help-block">{{form.errors.plate}}</span>
                        </div>
                        <div class="form-group {% if form.plate_date.errors %}has-error{% endif %}">
                            <label for="plate_date">Data Matrícula</label>
                            <i class="fa fa-calendar"></i>
                            <input name="plate_date" type="date" max="{% now "Y-m-d" %}" class="form-control" placeholder="Data Matrícula" value="{{form.plate_date.value}}" required>
                            <span class="help-block">{{form.errors.plate_date}}</span>
                        </div>
                        <div class="form-group {% if form.limit_date.errors %}has-error{% endif %}">
                            <label for="plate_date">Data Limite de Pagamento</label>
                            <i class="fa fa-calendar"></i>
                            <input name="limit_date" type="date" class="form-control" placeholder="Data Matrícula" value="{{form.limit_date.value}}" required>
                            <span class="help-block">{{form.errors.limit_date}}</span>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="reset" class="btn btn-default">Limpar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-3"></div>
    </div> <!-- /.row -->

</div>

{% endblock %}