{% extends "app/base.html" %}

{% block title %}Ag.Iba - {{client.name}}{% endblock %}

{% block content %}

<div class="container" data-client-id="{{client.id}}">
    <div class="row">
        <div class="col-md-9">
            <h3><i class="fa fa-user"></i> {{client.name}}</h3>
            <h4>NIF/NIPC: {{client.nif}}</h4>
            <address>
                {{client.address}}
                <br>
                {{client.city}}
                <br>
                {{client.local}}
                <br>
                {{client.postal}}
            </address>

            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Matrícula</th>
                            <th>Data Matrícula</th>
                            <th>Data Limite</th>
                            <th>Dias Restantes</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tax in taxes %}
                        <tr class="client_car_row" data-limit-date="{{tax.limit_date}}">
                            <td>{{tax.id}}</td>
                            <td>{{tax.brand}}</td>
                            <td>{{tax.model}}</td>
                            <td>{{tax.plate}}</td>
                            <td>{{tax.plate_date}}</td>
                            <td>{{tax.limit_date}} <span class="badge badge-danger"></span></td>
                            <td><span class="label {% if tax.this_month %}label-danger{% elif tax.next_month %}label-warning{% else %}label-default{% endif %}">{{tax.days_left}}</span></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn {% if tax.this_month %}btn-danger{% elif tax.next_month %}btn-warning{% else %}btn-default{% endif %} btn-xs dropdown-toggle" data-toggle="dropdown">
                                        acção <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu {% if tax.this_month %}dropdown-danger{% elif tax.next_month %}dropdown-warning{% else %}dropdown-default{% endif %}" role="menu">
                                        <li><a href="#" onclick="return payTax(this, {{tax.id}}, 'clientes/{{client.id}}');"><i class="fa fa-check-square-o"></i> Pago</a></li>
                                        <li><a href="#" onclick="return cancelTax(this, {{tax.id}}, 'clientes/{{client.id}}');"><i class="fa fa-square-o"></i> Não Pago</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-trash-o"></i> Eliminar Importo</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" value="">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="text-center hidden">Não há viaturas que correspondam a essa pesquisa.</p class="text-center hidden">
            </div>
        </div>

        <div class="col-md-3 sidebar">
            
            <form class="form-inline" role="form" action="#">
                <div class="form-group">
                    <i class="fa fa-search"></i>
                    <label class="sr-only" for="">Pesquisa Viatura</label>
                    <input type="text" class="form-control" id="local_search_car" placeholder="Pesquisa Viatura">
                </div>
            </form>
            <hr>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sidebar" disabled="disabled">Editar Cliente</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-sidebar" data-toggle="dropdown" disabled="disabled">
                    Aplicar a seleccionados <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-sidebar" onclick="window.location = '{% url 'add_tax' client_id=client.id %}';">Adicionar Imposto a Cliente</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-danger btn-sidebar" onclick="return removeClient({{client.id}});">Eliminar Cliente</button>
            </div>
            <hr>
            {% if not_real_variable %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><strong>Actividade recente</strong></div>            
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">há 17m</span>
                        <h5 class="list-group-item-heading">miguelgazela</h5>
                        <p class="list-group-item-text">Adiantou data limite de 77-CJ-84</p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">há 4h</span>
                        <h5 class="list-group-item-heading">vmcnoliveira</h5>
                        <p class="list-group-item-text">Atrasou data limite de 14-74-SL</p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">há 2d</span>
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Eliminou imposto de 08-66-VS</p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">há 1sem</span>
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">texto aqui e tal</p>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div> <!-- /container -->

{% endblock %}
