/* =============================================================
   color scheme styles
   ============================================================= */

$text-grey: #737373;
$bg-grey: rgba(115, 115, 115, 0.2);
$light-grey: #ddd;
$brand-color: #3acf93;
$brand-color-highlight: #8dee43;
$danger-color: #e74c3c;
$success-color: #2ecc71;

/* =============================================================
   mixins
   ============================================================= */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}


/* =============================================================
   author custom styles
   ============================================================= */

body,
.btn-default {
    color: $text-grey;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: $brand-color;
    border-color: $brand-color;
    background-color: white;
}

.dropdown-menu>li>a {
    color: $text-grey;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: $brand-color;
}

hr {
    border-top-color: $light-grey;
}

a {
    color: $brand-color;

    &:hover,
    &:focus {
        color: $brand-color;
        text-decoration: underline;
    }
}

.form-panel {
    @include border-radius(0px);
    margin-top: 50px;

    .panel-heading {
        @include border-radius(0px);
        color: $brand-color;
        background-color: $bg-grey;
        h3 {
            margin: 0;
        }
    }

    .panel-body {
        padding: 25px;
    }
}

.auth-form,
.agiba-form {

    .form-group {
        position: relative;
    }

    .form-control {
        padding-left: 30px;
    }

    .fa {
        position: absolute;
        left: 0;
        padding: 10px 10px;
    }

    .btn {
        margin-top: 30px;
    }
}

.agiba-form {
    .btn {
        margin-top: 10px;
    }
}

.btn {
    @include border-radius(0px);
}

.form-control {
    @include border-radius(0px);

}

.form-control:focus {
    border-color: $brand-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control,
.has-error .form-control:focus,
.has-error .form-control:hover {
    border-color: $danger-color;
}

.alert-danger {
    color: white;
    background-color: $danger-color;
    border: 0;
}

.alert-success {
    color: white;
    background-color: $success-color;
    border: 0;
    margin-bottom: 0;
}

.errorlist {
    list-style: none;
    padding: 0;
}


/* =============================================================
   sticky footer styles
   ============================================================= */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
    border-top: 1px solid $light-grey;
    height: 50px;
    padding-top: 15px;
}

#wrap > .container {
    padding-top: 80px;
}


/* =============================================================
   navbar custom styles
   ============================================================= */

.navbar {
    min-height: 60px;
}

.navbar-default {
    background-color: white;
    border-bottom: 1px solid $light-grey;

    .navbar-brand {
        color: $brand-color;
        font-weight: bold;
        color: #3acf93;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
        font-size: 30px;
        line-height: 30px;
        padding: 15px 15px 15px 15px;
        margin-right: 20px;
        background-color: $bg-grey;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
    }

    .navbar-brand:hover {
        text-decoration: none;
        color: $brand-color-highlight;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
    }

    .navbar-nav > li > {

        a {
            color: $text-grey;
            padding-top: 20px;
            padding-bottom: 5px;
            margin-bottom: 15px;

            &:hover,
            &:focus {
                color: $brand-color;
                margin-bottom: 14px;
                border-bottom: 1px solid $brand-color;
            }
        }
    }
}


/* =============================================================
   sidebar custom styles
   ============================================================= */

.sidebar {
    .form-group {
        width: 100%;
        position: relative;
    }

    .btn-group {
        width: 100%;

        .btn {
            width: 100%;
        }
    }

    .btn-group:not(:first-of-type) {
        margin-top: 10px;
    }

    .form-control {
        padding-left: 30px;
    }

    .fa {
        position: absolute;
        left: 0;
        padding: 10px 10px;
    }    
}

