// color schemes

$dark-grey: #737373;
$light-grey: #ddd;
$brand-color: #3acf93;
$brand-color-highlight: #8dee43;

/* =============================================================
   author custom styles
   ============================================================= */

body {
    color: $dark-grey;
}

hr {
    border-top-color: $light-grey;
}

/* =============================================================
   sticky footer styles
   ============================================================= */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
    border-top: 1px solid $light-grey;
    height: 50px;
    padding-top: 10px;
}

#wrap > .container {
    padding-top: 80px;
}

/* =============================================================
   navbar custom styles
   ============================================================= */

.navbar {
    min-height: 60px;
}

.navbar-default {
    background-color: white;
    border-bottom: 1px solid $light-grey;

    .navbar-brand {
        color: $brand-color;
        font-weight: bold;
        color: #3acf93;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
        font-size: 30px;
        line-height: 30px;
        padding: 15px 15px 15px 15px;
        margin-right: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
    }

    .navbar-brand:hover {
        text-decoration: none;
        color: $brand-color-highlight;
        text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
    }

    .navbar-nav > li > {

        a {
            color: $dark-grey;
            padding-top: 20px;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }

        a:hover,
        a:focus {
            color: $brand-color;
            margin-bottom: 14px;
            border-bottom: 1px solid $brand-color;
        }
        
    }
}



