{% extends "app/base.html" %}

{% block title %}Ag.Iba - Clientes{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>NIF/NIPC</th>
                            <th>Viaturas</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in list_clients %}
                        <tr>
                            <td>{{client.id}}</td>
                            <td><a href="#">{{client.name}}</a></td>
                            <td>{{client.nif}}</td>
                            <td>{{client.tax_set.count}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        acção <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" value="">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3 sidebar">
            <form class="form-inline" role="form" action="#">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail2">Search</label>
                    <input type="search" class="form-control" id="exampleInputEmail2" placeholder="Search">
                </div>
            </form>
            <hr>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-sidebar" data-toggle="dropdown" disabled="disabled">
                    Aplicar a seleccionados <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-success btn-sidebar btn-separate">Adicionar imposto</button>
            <hr>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><strong>Actividade recente</strong></div>            
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">há 17m</span>
                        <h5 class="list-group-item-heading">miguelgazela</h5>
                        <p class="list-group-item-text">Adiantou data limite de 77-CJ-84</p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">há 4h</span>
                        <h5 class="list-group-item-heading">vmcnoliveira</h5>
                        <p class="list-group-item-text">Atrasou data limite de 14-74-SL</p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">há 2d</span>
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Eliminou imposto de 08-66-VS</p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">há 1sem</span>
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">texto aqui e tal</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- /container -->

{% endblock %}
