{% extends "app/base.html" %}

{% block title %}Ag.Iba - Criar conta{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <div class="col-md-4 col-sm-4">
            <p>{{form.non_field_errors}}</p>
            <form role="form" action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <h2 class="lead text-center">Criar nova conta</h2>
                <hr>
                <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                    <input name="email" type="email" class="form-control" placeholder="Email" value="{{form.email.value}}" autocomplete="off" required autofocus>
                    <span class="help-block">{{form.errors.email}}</span>
                </div>
                <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                    <input name="username" type="text" class="form-control" placeholder="Username" value="{{form.username.value}}" required>
                    <span class="help-block">{{form.errors.username}}</span>
                </div>
                <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                    <input name="password1" type="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                    <input name="password2" type="password" class="form-control" placeholder="Confirm password" required>
                    <span class="help-block">{{form.errors.password2}}</span>

                <button type="submit" class="btn btn-success btn-block">Criar conta</button>
            </form>
        </div>
        <div class="col-md-4 col-sm-4"></div>
    </div> <!-- /.row -->

</div>

{% endblock %}