<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="@miguelgazela">
    <link rel="shortcut icon" href="../favicon.png"> <!-- no resource for now -->

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/build/global.css' %}" />

    <title>{% block title %}Ag.Iba{% endblock %}</title>
</head>


<body>
    <div id="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Ag.Iba</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'clients' %}"><i class="fa fa-users"></i> CLIENTES</a></li>
                        <li><a href="{% url 'taxes' %}"><i class="fa fa-list-alt"></i>  IMPOSTOS</a></li>
                        <li><a href="{% url 'add_client' %}"><i class="fa fa-plus-square"></i> NOVO CLIENTE</a></li>
                        <li><a href="{% url 'add_tax' %}"><i class="fa fa-plus-square"></i> NOVO IMPOSTO</a></li>
                        {# <li><a href="#">NOVO IMPOSTO</a></li> #}
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.username}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-cog"></i> Área Admin</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></span> <strong>Logout</strong></a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> <strong>Login</strong></a></li>
                        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> <strong>Criar conta</strong></a></li>
                        {% endif %}
                    </ul>

                </div><!--/.nav-collapse -->
            </div>
        </div>

        {% block content %}{% endblock %}

    </div> <!-- /.wrap -->
    
    <div id="footer">
        <div class="container">
            <p class="text-muted">Made by <a href="https://twitter.com/miguelgazela">@miguelgazela</a> © {% now "Y" %}</p>
        </div>
    </div>
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    {% load staticfiles %}
    <script src="{% static 'app/js/build/production.min.js' %}"></script>
</body>
</html>